$header-background-color: #222222;
$header-button-background-color: #353535;
$header-profile-color: #eeeeee;
$header-admin: #0073df;
$main-background-color: #e6e6e6;
$main-color: #222222;
$main-blue: #00a2ff;
$main-red: #f02a10;
$main-green: #50cf07;
