* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition-property: opacity, width, height, color, background-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function:ease-out;
}

button, a {
  cursor: pointer;
}